<!-- - - - - - - - - - - - - - Styleswitcher - - - - - - - - - - - - - - - - -->

<div id="styleswitcher" class="styleswitcher">

	<button class="sw-invoker gt-btn-3 gt-shadow gt-icon"><span class="lnr lnr-cog"></span></button>

	<div class="sw-inner animated stealthy">

		<div class="sw-section">

			<h6 class="sw-heading">Layout</h6>

			<div class="gt-switch-view">

				<div class="gt-left-element">

					<button data-layout-type="wide" class="gt-btn-3 gt-reverse gt-active gt-small">Wide</button>

				</div>

				<div class="gt-right-element">

					<button data-layout-type="boxed" class="gt-btn-3 gt-reverse gt-small">Boxed</button>

				</div>

			</div>

		</div>

		<div class="sw-section">

			<h6 class="sw-heading">Header Style</h6>

			<div class="gt-custom-select">

				<select id="header-type">

					<option value="Header 1">Header 1</option>
					<option value="Header 2">Header 2</option>
					<option value="Header 3">Header 3</option>
					<option value="Header 4">Header 4</option>
					<option value="Header 5">Header 5</option>
					<option value="Header 6">Header 6</option>
					<option value="Header 7">Header 7</option>
					<option value="Header 8">Header 8</option>

				</select>

			</div>

		</div>

		<div class="sw-section">

			<h6 class="sw-heading">Footer Style</h6>

			<div class="gt-custom-select">

				<select id="footer-type">

					<option value="Footer 1">Footer 1</option>
					<option value="Footer 2">Footer 2</option>
					<option value="Footer 3">Footer 3</option>

				</select>

			</div>

		</div>

		<div class="sw-section">

			<h6 class="sw-heading">Background color</h6>

			<ul class="bg-sw-list bg-color">

				<li><button class="bg-sw-btn gt-active" data-bg-color="#272a2f"></button></li>
				<li><button class="bg-sw-btn" data-bg-color="#e6e7e7"></button></li>
				<li><button class="bg-sw-btn" data-bg-color="#275165"></button></li>
				<li><button class="bg-sw-btn" data-bg-color="#bee6f7"></button></li>
				<li><button class="bg-sw-btn" data-bg-color="#322a53"></button></li>

			</ul>

		</div>

		<div class="sw-section">

			<h6 class="sw-heading">Background image</h6>

			<ul class="bg-sw-list bg-image">

				<li><button class="bg-sw-btn gt-active" data-bg-image="images/image_bg_1.jpg"></button></li>
				<li><button class="bg-sw-btn" data-bg-image="images/image_bg_2.jpg"></button></li>
				<li><button class="bg-sw-btn" data-bg-image="images/image_bg_3.jpg"></button></li>

			</ul>

		</div>

		<button class="gt-btn-3 gt-small gt-sw-reset">Reset</button>

	</div>

</div>

<!-- - - - - - - - - - - - - - End of Styleswitcher - - - - - - - - - - - - - - - - -->